* {
	border-width:		2px;
	border-color:		silver;
	border-radius:		5px;

	font-family:		sans-serif;
}

html {
	width:100%;
	height: 100%;

	background-image:	repeating-linear-gradient(
		-45deg,
		silver,
		silver 10px,
		lightgray 10px,
		lightgray 20px
	);
}

#title {
	text-align:			center;
}

fieldset, legend {
	background-color:	white;
	border-style:		groove;
}

fieldset {
	margin:				1em;
}
legend {
	font-weight:		bold;
}

#fileinputlabel, #fileinputlabel input[type=file] {
	cursor:				pointer;
}

#fileinputlabel {
	position:			relative;
	width:				100%;
	height:				3em;

	background-color:	silver;
	border-style:		groove;
}

input[type=file] {
	position:			absolute;
	left:				50%;
	top: 				50%;
	transform:			translate(-50%, -50%);

	background-color:	white;
	border-style:		groove;

	font-size:			large;
}

label, input[type=submit] {
	float:				left;
	clear:				left;
	text-align:			right;
}
label {
	margin-top:			1ex;
	margin-bottom:		1ex;
}
input[type=submit] {
	margin-top:			1ex;
}

iframe {
	width:				100%;
	height:				50%;
	resize: 			vertical;
}
