body {
	width:				100vw;
	height:				100vh;

	padding:			0;
	border:				0;
	margin:				0;
	background-color:	hsl(0, 0%, 50%);
	overflow:			hidden;
}
#midimonitor {
	width:				100%;
	height:				100%;

	background-repeat:	repeat-y;
}
