#rtx > * {
	display: block;
}
#rtx button[name='playstop'] {
	background-color: dimgray;
	border-color: dimgray;
	color: black;
}

#rtx button[name='playstop'] span {
	color: gray;
}


#rtx[func='play'] button[name='playstop'] span.play {
	color: lime;
}
#rtx[func='stop'] button[name='playstop'] span.stop {
	color: red;
}

/*
#rtx[func='stop'] select[name='type'] {
	background-color: black;
}
*/
