[submodule "MIDIEvents"]
	path = MIDIEvents
	url = https://github.com/nfroidure/MIDIEvents/
[submodule "lib/MIDIEvents"]
	path = lib/MIDIEvents
	url = https://github.com/nfroidure/MIDIEvents.git
[submodule "lib/MIDIFile"]
	path = lib/MIDIFile
	url = https://github.com/nfroidure/MIDIFile.git
[submodule "lib/MIDIPlayer"]
	path = lib/MIDIPlayer
	url = https://github.com/nfroidure/MIDIPlayer.git
